/*Reseteo CSS*/
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 75px;
}
/*
#navbarNav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
*/


#navbarNav li a {
    text-align: end;
    align-items: flex-end;
    color: green;
    transition: all 1s;
    &:hover {
        background-color: #000;
        color: red;
        padding: 10px;
        border-radius: 10%;
        }
}

.parallax{
    padding-top: 3rem;
    gap:2rem;
margin-top: 1rem;
background:$color-fondo;

}
h1,h3,h5{
@include texto-titulos;
}

h1{
  padding-top: $espacio_h1;
  text-align: center;
}

#carouselExampleIndicators{
    width: $ancho_carrusel-s;
}

    .carousel-item img {
    height: $alto_carrusel-s;
    }
.carousel-control-next-icon, 
.carousel-control-prev-icon {
    background-color: blue;
    border-radius: 50%;
    padding: 10px;
}
 
.bacn{/*bacn color negro de cards en pagina index*/

    color:black;
    p{
      color:black;
      }
  
}
      .padre-cards {
       @include estilo_columnas;
        gap: 3rem; /*espacio entre tarjetas*/
    
        /*fagdfsagwa*/
        display: flex;
        flex-wrap:wrap;
    img{
     padding-left: 5%;/* borde entre la foto y el contorno*/
    padding-right: 5%;
    padding-top: 5%;
    height: 250px;
    }
          
   
    
    }

    .card {
        background-color: rgba(252, 246, 239, 0.89);
        width: 16rem; /*ancho de la tarjeta*/
        border-radius: 10%;
        &:hover{
        @include animacion;
        }
      }
      
      
      
    .card-body h5{
      padding-top: 0;
      color: $colorh5;
   p{
    text-align: center;}
    } 
    

    #footer
    {
      background-color: black;

 
    }
    .footer_down{
      background-color: black;
    
      border-radius: 10%;
    border-style:ridge; 
    border-color: #fff; 
    color:#C4AA25
      
    }



    /*//////////////media query/////////
/*Tablet*/
@media (min-width: 768px) {
    .padre-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .card {
      background-color: rgba(252, 246, 239, 0.89);
      width: 20rem;
  
      display: flex;
      flex-wrap:wrap;
    }
  
    #carouselExampleIndicators{
      width: 500px;
    
  }
  
  .carousel-item img {
      height: 350px;
  }
  
}
/*Desktop*/
@media (min-width: 1200px) {
    .padre-cards {
        grid-template-columns: repeat(3, 1fr);
    }
    .card {
      width: 20rem;
      display: flex;
      flex-wrap:wrap;
    }
   
    
    #carouselExampleIndicators{
      width: 600px;
  }
}