/*FILTRO DE PRODUCTOS*/

//CREO UN CONTENEDOR
.card_video {
  background-color: rgba(6, 24, 48, 0.89);
  width: 20rem;
border-radius: 5%;
  display: flex;
  flex-wrap:wrap;
  
  iframe{
    width: 20rem;
    background-color: rgba(6, 24, 48, 0.89);
    height: 11rem;

  }
  h5{
    padding: 1rem;
    }
}

//CADA CONTENEDOR ES MOSTRADO EN GRIDS
.container_videos {
  padding-top:2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  justify-items: center;
}
//menu de opciones: final - postfinal -todo 
.container-opciones {
  display: flex;
  justify-content: center;
  gap: 30px;
  label {
    cursor: pointer;
    padding: 1rem;
  }
  label:nth-of-type(odd) {
    background-color: rgb(28, 189, 234);
    border-radius: 10%;
    border-color: blue;
  }
  label:nth-of-type(even) {
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    border-color: gray;
  }
}

//aplico filtro, desapareciendo menu
#final,
#postfinal,
#todos {
  display: none;
}

.card_final,
.card_postfinal {
  display: none;
}

#final:checked ~ .container_videos .card_final,
#postfinal:checked ~ .container_videos .card_postfinal {
  display: flex;
}

#todos:checked ~ .container_videos .card_final,
#todos:checked ~ .container_videos .card_postfinal {
  display: flex;
}

@media (min-width: 768px) {
 
  .card_video {
    width: 40rem;
    iframe{
      width: 40rem;
      height: 16rem;

    }
  }
}

@media (min-width: 1080px) {
 
  .card_video {
    width: 50rem;
    iframe{
      width: 50rem;
      height: 25rem;

    }
  }
}

